// UTILITY-CLASSES SPACING

.mb {
	margin-bottom: $spacing;
}
.mb-large {
	margin-bottom: $spacing * 2;

		@include bp(10, max) {
			margin-bottom: $spacing;
		}
}
.mt-minus {
	margin-top: -$spacing;
}
.mr {
	margin-right: $spacing;
}

.pt {
	padding-top: $spacing;
}
.pt-large {
	padding-top: $spacing * 2;

		@include bp(10, max) {
			padding-top: $spacing;
		}
}

.pb {
	padding-bottom: $spacing;
}
.pb-large {
	padding-bottom: $spacing * 2;

		@include bp(10, max) {
			padding-bottom: $spacing;
		}
}

.ml {
	margin-left: $spacing;
}
.nomargin {
	margin: 0!important;
}
