// panel variables

$panel-bg 								: $colour-c;
$panel-border-width 			: $border-width;
$panel-border-style 			: $border-style;
$panel-border-colour 			: $colour-border;
$panel-border-radius 			: $border-radius;
$panel-padding 						: $spacing;
